html,
body {
  height: 100%;
}


body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #c0fefc;
}

input{
  margin-top: 3px;
}

a{
  color: black;
  text-decoration: none;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.snow-image{
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
